select#cnationalty
	option(value='Afghanistan (‫افغانستان‬‎)') Afghanistan (‫افغانستان‬‎)
	option(value='Åland Islands (Åland)') Åland Islands (Åland)
	option(value='Albania (Shqipëria)') Albania (Shqipëria)
	option(value='Algeria (‫الجزائر‬‎)') Algeria (‫الجزائر‬‎)
	option(value='American Samoa') American Samoa
	option(value='Andorra') Andorra
	option(value='Angola') Angola
	option(value='Anguilla') Anguilla
	option(value='Antarctica') Antarctica
	option(value='Antigua and Barbuda') Antigua and Barbuda
	option(value='Argentina') Argentina
	option(value='Armenia (Հայաստանի Հանրապետություն)') Armenia (Հայաստանի Հանրապետություն)
	option(value='Aruba') Aruba
	option(value='Ascension Island') Ascension Island
	option(value='Australia') Australia
	option(value='Austria (Österreich)') Austria (Österreich)
	option(value='Azerbaijan (Azərbaycan)') Azerbaijan (Azərbaycan)
	option(value='Bahamas') Bahamas
	option(value='Bahrain (‫البحرين‬‎)') Bahrain (‫البحرين‬‎)
	option(value='Bangladesh (বাংলাদেশ)') Bangladesh (বাংলাদেশ)
	option(value='Barbados') Barbados
	option(value='Belarus (Беларусь)') Belarus (Беларусь)
	option(value='Belgium (België)') Belgium (België)
	option(value='Belize') Belize
	option(value='Benin (Bénin)') Benin (Bénin)
	option(value='Bermuda') Bermuda
	option(value='Bhutan (འབྲུག)') Bhutan (འབྲུག)
	option(value='Bolivia') Bolivia
	option(value='Bosnia and Herzegovina (Bosna i Hercegovina)') Bosnia and Herzegovina (Bosna i Hercegovina)
	option(value='Botswana') Botswana
	option(value='Bouvet Island') Bouvet Island
	option(value='Brazil (Brasil)') Brazil (Brasil)
	option(value='British Indian Ocean Territory') British Indian Ocean Territory
	option(value='British Virgin Islands') British Virgin Islands
	option(value='Brunei') Brunei
	option(value='Bulgaria (България)') Bulgaria (България)
	option(value='Burkina Faso') Burkina Faso
	option(value='Burundi (Uburundi)') Burundi (Uburundi)
	option(value='Cambodia (កម្ពុជា)') Cambodia (កម្ពុជា)
	option(value='Cameroon (Cameroun)') Cameroon (Cameroun)
	option(value='Canada') Canada
	option(value='Canary Islands (Islas Canarias)') Canary Islands (Islas Canarias)
	option(value='Cape Verde (Kabu Verdi)') Cape Verde (Kabu Verdi)
	option(value='Caribbean Netherlands') Caribbean Netherlands
	option(value='Cayman Islands') Cayman Islands
	option(value='Central African Republic (République centrafricaine)') Central African Republic (République centrafricaine)
	option(value='Ceuta and Melilla (Ceuta y Melilla)') Ceuta and Melilla (Ceuta y Melilla)
	option(value='Chad (Tchad)') Chad (Tchad)
	option(value='Chile') Chile
	option(value='China (中国)') China (中国)
	option(value='Christmas Island') Christmas Island
	option(value='Clipperton Island (Île Clipperton)') Clipperton Island (Île Clipperton)
	option(value='Cocos [Keeling] Islands') Cocos [Keeling] Islands
	option(value='Colombia') Colombia
	option(value='Comoros (‫جزر القمر‬‎)') Comoros (‫جزر القمر‬‎)
	option(value='Congo [DRC] (Jamhuri ya Kidemokrasia ya Kongo)') Congo [DRC] (Jamhuri ya Kidemokrasia ya Kongo)
	option(value='Congo [Republic] (Congo-Brazzaville)') Congo [Republic] (Congo-Brazzaville)
	option(value='Cook Islands') Cook Islands
	option(value='Costa Rica') Costa Rica
	option(value='Côte d’Ivoire') Côte d’Ivoire
	option(value='Croatia (Hrvatska)') Croatia (Hrvatska)
	option(value='Cuba') Cuba
	option(value='Curaçao') Curaçao
	option(value='Cyprus (Κύπρος)') Cyprus (Κύπρος)
	option(value='Czech Republic (Česká republika)') Czech Republic (Česká republika)
	option(value='Denmark (Danmark)') Denmark (Danmark)
	option(value='Diego Garcia') Diego Garcia
	option(value='Djibouti') Djibouti
	option(value='Dominica') Dominica
	option(value='Dominican Republic (República Dominicana)') Dominican Republic (República Dominicana)
	option(value='Ecuador') Ecuador
	option(value='Egypt (‫مصر‬‎)') Egypt (‫مصر‬‎)
	option(value='El Salvador') El Salvador
	option(value='Equatorial Guinea (Guinea Ecuatorial)') Equatorial Guinea (Guinea Ecuatorial)
	option(value='Eritrea') Eritrea
	option(value='Estonia (Eesti)') Estonia (Eesti)
	option(value='Ethiopia') Ethiopia
	option(value='Falkland Islands [Islas Malvinas]') Falkland Islands [Islas Malvinas]
	option(value='Faroe Islands (Føroyar)') Faroe Islands (Føroyar)
	option(value='Fiji') Fiji
	option(value='Finland (Suomi)') Finland (Suomi)
	option(value='France') France
	option(value='French Guiana (Guyane française)') French Guiana (Guyane française)
	option(value='French Polynesia (Polynésie française)') French Polynesia (Polynésie française)
	option(value='French Southern Territories (Terres australes françaises)') French Southern Territories (Terres australes françaises)
	option(value='Gabon') Gabon
	option(value='Gambia') Gambia
	option(value='Georgia (საქართველო)') Georgia (საქართველო)
	option(value='Germany (Deutschland)') Germany (Deutschland)
	option(value='Ghana (Gaana)') Ghana (Gaana)
	option(value='Gibraltar') Gibraltar
	option(value='Greece (Ελλάδα)') Greece (Ελλάδα)
	option(value='Greenland') Greenland
	option(value='Grenada') Grenada
	option(value='Guadeloupe') Guadeloupe
	option(value='Guam') Guam
	option(value='Guatemala') Guatemala
	option(value='Guernsey') Guernsey
	option(value='Guinea (Guinée)') Guinea (Guinée)
	option(value='Guinea-Bissau (Guiné Bissau)') Guinea-Bissau (Guiné Bissau)
	option(value='Guyana') Guyana
	option(value='Haiti') Haiti
	option(value='Heard Island and McDonald Islands') Heard Island and McDonald Islands
	option(value='Honduras') Honduras
	option(value='Hong Kong (香港)') Hong Kong (香港)
	option(value='Hungary (Magyarország)') Hungary (Magyarország)
	option(value='Iceland (Ísland)') Iceland (Ísland)
	option(value='India (भारत)') India (भारत)
	option(value='Indonesia') Indonesia
	option(value='Iran (‫ایران‬‎)') Iran (‫ایران‬‎)
	option(value='Iraq (‫العراق‬‎)') Iraq (‫العراق‬‎)
	option(value='Ireland') Ireland
	option(value='Isle of Man') Isle of Man
	option(value='Israel (‫ישראל‬‎)') Israel (‫ישראל‬‎)
	option(value='Italy (Italia)') Italy (Italia)
	option(value='Jamaica') Jamaica
	option(value='Japan (日本)') Japan (日本)
	option(value='Jersey') Jersey
	option(value='Jordan (‫الأردن‬‎)') Jordan (‫الأردن‬‎)
	option(value='Kazakhstan (Казахстан)') Kazakhstan (Казахстан)
	option(value='Kenya') Kenya
	option(value='Kiribati') Kiribati
	option(value='Kuwait (‫الكويت‬‎)') Kuwait (‫الكويت‬‎)
	option(value='Kyrgyzstan') Kyrgyzstan
	option(value='Laos (ສ.ປ.ປ ລາວ)') Laos (ສ.ປ.ປ ລາວ)
	option(value='Latvia (Latvija)') Latvia (Latvija)
	option(value='Lebanon (‫لبنان‬‎)') Lebanon (‫لبنان‬‎)
	option(value='Lesotho') Lesotho
	option(value='Liberia') Liberia
	option(value='Libya (‫ليبيا‬‎)') Libya (‫ليبيا‬‎)
	option(value='Liechtenstein') Liechtenstein
	option(value='Lithuania (Lietuva)') Lithuania (Lietuva)
	option(value='Luxembourg') Luxembourg
	option(value='Macau (澳門)') Macau (澳門)
	option(value='Macedonia [FYROM] (Македонија)') Macedonia [FYROM] (Македонија)
	option(value='Madagascar (Madagasikara)') Madagascar (Madagasikara)
	option(value='Malawi') Malawi
	option(value='Malaysia') Malaysia
	option(value='Maldives') Maldives
	option(value='Mali') Mali
	option(value='Malta') Malta
	option(value='Marshall Islands') Marshall Islands
	option(value='Martinique') Martinique
	option(value='Mauritania (‫موريتانيا‬‎)') Mauritania (‫موريتانيا‬‎)
	option(value='Mauritius (Moris)') Mauritius (Moris)
	option(value='Mayotte') Mayotte
	option(value='Mexico (México)') Mexico (México)
	option(value='Micronesia') Micronesia
	option(value='Moldova (Republica Moldova)') Moldova (Republica Moldova)
	option(value='Monaco') Monaco
	option(value='Mongolia') Mongolia
	option(value='Montenegro (Crna Gora)') Montenegro (Crna Gora)
	option(value='Montserrat') Montserrat
	option(value='Morocco (‫المغرب‬‎)') Morocco (‫المغرب‬‎)
	option(value='Mozambique (Moçambique)') Mozambique (Moçambique)
	option(value='Myanmar [Burma] (မြန်မာ)') Myanmar [Burma] (မြန်မာ)
	option(value='Namibia') Namibia
	option(value='Nauru') Nauru
	option(value='Nepal (नेपाल)') Nepal (नेपाल)
	option(value='Netherlands (Nederland)') Netherlands (Nederland)
	option(value='New Caledonia (Nouvelle-Calédonie)') New Caledonia (Nouvelle-Calédonie)
	option(value='New Zealand') New Zealand
	option(value='Nicaragua') Nicaragua
	option(value='Niger (Nijar)') Niger (Nijar)
	option(value='Nigeria') Nigeria
	option(value='Niue') Niue
	option(value='Norfolk Island') Norfolk Island
	option(value='Northern Mariana Islands') Northern Mariana Islands
	option(value='North Korea (조선 민주주의 인민 공화국)') North Korea (조선 민주주의 인민 공화국)
	option(value='Norway (Norge)') Norway (Norge)
	option(value='Oman (‫عُمان‬‎)') Oman (‫عُمان‬‎)
	option(value='Pakistan (‫پاکستان‬‎)') Pakistan (‫پاکستان‬‎)
	option(value='Palau') Palau
	option(value='Palestinian Territories (‫فلسطين‬‎)') Palestinian Territories (‫فلسطين‬‎)
	option(value='Panama (Panamá)') Panama (Panamá)
	option(value='Papua New Guinea') Papua New Guinea
	option(value='Paraguay') Paraguay
	option(value='Peru (Perú)') Peru (Perú)
	option(value='Philippines') Philippines
	option(value='Pitcairn Islands') Pitcairn Islands
	option(value='Poland (Polska)') Poland (Polska)
	option(value='Portugal') Portugal
	option(value='Puerto Rico') Puerto Rico
	option(value='Qatar (‫قطر‬‎)') Qatar (‫قطر‬‎)
	option(value='Réunion') Réunion
	option(value='Romania (România)') Romania (România)
	option(value='Russia (Россия)') Russia (Россия)
	option(value='Rwanda') Rwanda
	option(value='Saint Barthélemy (Saint-Barthélémy)') Saint Barthélemy (Saint-Barthélémy)
	option(value='Saint Helena') Saint Helena
	option(value='Saint Kitts and Nevis') Saint Kitts and Nevis
	option(value='Saint Lucia') Saint Lucia
	option(value='Saint Martin (Saint-Martin [partie française])') Saint Martin (Saint-Martin [partie française])
	option(value='Saint Pierre and Miquelon (Saint-Pierre-et-Miquelon)') Saint Pierre and Miquelon (Saint-Pierre-et-Miquelon)
	option(value='Saint Vincent and the Grenadines') Saint Vincent and the Grenadines
	option(value='Samoa') Samoa
	option(value='San Marino') San Marino
	option(value='São Tomé and Príncipe (São Tomé e Príncipe)') São Tomé and Príncipe (São Tomé e Príncipe)
	option(value='Saudi Arabia (‫المملكة العربية السعودية‬‎)') Saudi Arabia (‫المملكة العربية السعودية‬‎)
	option(value='Senegal (Sénégal)') Senegal (Sénégal)
	option(value='Serbia (Србија)') Serbia (Србија)
	option(value='Seychelles') Seychelles
	option(value='Sierra Leone') Sierra Leone
	option(value='Singapore') Singapore
	option(value='Sint Maarten') Sint Maarten
	option(value='Slovakia (Slovensko)') Slovakia (Slovensko)
	option(value='Slovenia (Slovenija)') Slovenia (Slovenija)
	option(value='Solomon Islands') Solomon Islands
	option(value='Somalia (Soomaaliya)') Somalia (Soomaaliya)
	option(value='South Africa') South Africa
	option(value='South Georgia and the South Sandwich Islands') South Georgia and the South Sandwich Islands
	option(value='South Korea (대한민국)') South Korea (대한민국)
	option(value='South Sudan (‫جنوب السودان‬‎)') South Sudan (‫جنوب السودان‬‎)
	option(value='Spain (España)') Spain (España)
	option(value='Sri Lanka (ශ්‍රී ලංකාව)') Sri Lanka (ශ්‍රී ලංකාව)
	option(value='Sudan (‫السودان‬‎)') Sudan (‫السودان‬‎)
	option(value='Suriname') Suriname
	option(value='Svalbard and Jan Mayen (Svalbard og Jan Mayen)') Svalbard and Jan Mayen (Svalbard og Jan Mayen)
	option(value='Swaziland') Swaziland
	option(value='Sweden (Sverige)') Sweden (Sverige)
	option(value='Switzerland (Schweiz)') Switzerland (Schweiz)
	option(value='Syria (‫سوريا‬‎)') Syria (‫سوريا‬‎)
	option(value='Taiwan (台灣)') Taiwan (台灣)
	option(value='Tajikistan') Tajikistan
	option(value='Tanzania') Tanzania
	option(value='Thailand (ไทย)') Thailand (ไทย)
	option(value='Timor-Leste') Timor-Leste
	option(value='Togo') Togo
	option(value='Tokelau') Tokelau
	option(value='Tonga') Tonga
	option(value='Trinidad and Tobago') Trinidad and Tobago
	option(value='Tristan da Cunha') Tristan da Cunha
	option(value='Tunisia (‫تونس‬‎)') Tunisia (‫تونس‬‎)
	option(value='Turkey (Türkiye)') Turkey (Türkiye)
	option(value='Turkmenistan') Turkmenistan
	option(value='Turks and Caicos Islands') Turks and Caicos Islands
	option(value='Tuvalu') Tuvalu
	option(value='U.S. Outlying Islands') U.S. Outlying Islands
	option(value='U.S. Virgin Islands') U.S. Virgin Islands
	option(value='Uganda') Uganda
	option(value='Ukraine (Україна)') Ukraine (Україна)
	option(value='United Arab Emirates (‫الإمارات العربية المتحدة‬‎)') United Arab Emirates (‫الإمارات العربية المتحدة‬‎)
	option(value='United Kingdom') United Kingdom
	option(value='United States') United States
	option(value='Uruguay') Uruguay
	option(value='Uzbekistan (Ўзбекистон)') Uzbekistan (Ўзбекистон)
	option(value='Vanuatu') Vanuatu
	option(value='Vatican City (Città del Vaticano)') Vatican City (Città del Vaticano)
	option(value='Venezuela') Venezuela
	option(value='Vietnam (Việt Nam)') Vietnam (Việt Nam)
	option(value='Wallis and Futuna') Wallis and Futuna
	option(value='Western Sahara (‫الصحراء الغربية‬‎)') Western Sahara (‫الصحراء الغربية‬‎)
	option(value='Yemen (‫اليمن‬‎)') Yemen (‫اليمن‬‎)
	option(value='Zambia') Zambia
	option(value='Zimbabwe') Zimbabwe