h2=title
section#poll-stats
	table
		tbody
			tr
				td
					h3 Total polls
					h5=total_polls
//section#linegraph(style="width: 500px; height: 300px;")
section
	input(type='text', placeholder='from')#ffrom.dp
	input(type='text', placeholder='to')#fto.dp
	button.btn#filter Filter
section#questions-display
	h3 questions
script $(".dp").datepicker()
