h2=title
section#poll-stats
	table
		tbody
			tr
				td
					h3 Total polls
					h5=total_polls
				td
					h3 Created
					h5=created
				td
					h3 Expire
					h5=expire
section#linegraph(style="width: 500px; height: 300px;")
section#questions-display
	h3 questions
