extends layout

block content
	//script(type="text/javascript", src="http://yui.yahooapis.com/3.9.0/build/yui/yui-min.js")
	script(type="text/javascript", src="http://code.highcharts.com/highcharts.js")
	div#poll-list-container.span3.hide
		ul.poll-list#poll-retrieve
			-each poll in polls
				li
					a(data-id=poll._id)=poll.title
	div.span8#statistics
