extends layout

block content
	section.container
		h2#poll-title
		hr
		section(style="padding:84px")
			h1(style="font-size:107px;line-height:109px;2px 2px 5px lightgray")=heading
			h3(style="color:lightgray")=message

