doctype 5
html
	head
		title Survey form
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		//script setTimeout(function(){window.location.reload(true)}, 300);
	body
		section.container(style='padding-top:70px')
			h2 You have no active polls
