extends layout

block content
	-if (typeof poll != 'undefined' && poll != ""){
		script Poll.loadpoll("#{poll}");
	-}
	section.container
		h2#poll-title
		hr
	section.container#questions_container
		section.span8
			section.well
				h2 Customer details
				section
					input(type='text', placeholder='name')#cname
				section
					input(type='text', placeholder='email')#cemail
				section
					input(type='text', placeholder='villa no')#cvilla
				section
					input(type='text', placeholder='Staying from').dp#cfrom &nbsp; 
					input(type='text', placeholder='Staying to').dp#cto 
				include components/countrylist
			section#questions
			section.submit.well
				button.btn.btn-primary.btn-large#submit-survey All done, submit my poll
		section.span3#stats
			section
				h5 Total Taken
					span.badge#poll-taken
	div.modal.hide.fade#modal-newpoll
		div.modal-header
			button.close(type="button",data-dismiss="modal",aria-hidden="true")
			h3 New Poll 
		div.modal-body
				
						
		div.modal-footer
			button.btn(data-dismiss="modal",aria-hidden="true") close
			button.btn.btn-primary Save changes 
	script $('.dp').datepicker()
